<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>id</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>生日</th>
            <th>班级</th>
            <th>操作</th>
        </tr>
        <tr th:each= " stu : ${students}">
            <td th:text="${stu.id}">id</td>
            <td th:text="${stu.name}">姓名</td>
            <td th:text="${stu.age}">年龄</td>
            <td th:text="${#dates.format(stu.birthday,'yyyy-MM-dd')}">生日</td>
            <td th:text="${stu.classes.cname}">班级</td>
            <td><a href="#">编辑  </a><a th:href="|/student/delete?sid=${stu.id}|">删除</a></td>
        </tr>
    </table>
    <a  href="/student/toAdd">添加学生</a>
</body>
</html>